<form novalidate [formGroup]="form" (ngSubmit)="save()">
    <fieldset class="field">
        <label for="name" class="label">Name</label>
        <div class="control">
            <input type="text" id="name" formControlName="name" class="input">
        </div>
    </fieldset>

    <fieldset class="field">
        <label for="amount" class="label">Amount</label>
        <div class="control has-icons-left">
            <input type="text" id="amount" formControlName="amount" class="input">
            <span class="icon is-left">$</span>
        </div>
    </fieldset>

    <div class="columns">
        <fieldset class="field column is-one-quarter">
            <label for="duedate" class="label">Next due date</label>
            <div class="control">
                <input type="text" id="duedate" formControlName="dueDate" class="input">
            </div>
        </fieldset>

        <fieldset class="field column is-one-quarter">
            <label for="frequency" class="label">Frequency</label>
            <div class="select">
                <select id="frequency" formControlName="frequency">
                    <option *ngFor="let frequency of frequencyList" [value]="frequency.value">
                        {{frequency.label}}
                    </option>
                </select>
            </div>
        </fieldset>
    </div>

    <div class="buttons">
        <button type="submit" class="button is-primary">Save</button>
        <button type="button" class="button" (click)="reset()">Reset</button>
    </div>
</form>
