<input type="text" class="input" [formControl]="dateInput" (click)="pickerOpen = true">

<div class="datetimepicker is-primary is-datetimepicker-default" [class.is-active]="pickerOpen">
    <div class="datetimepicker-container">

        <div class="datetimepicker-header is-date-only">
            <div class="datetimepicker-selection-details">
                <div class="datetimepicker-selection-start is-centered">
                    <div class="datetimepicker-selection-wrapper">
                        <div class="datetimepicker-selection-day">
                            {{ formatDate(selectedDate, 'DD') || '-' }}
                        </div>
                        <div class="datetimepicker-selection-date">
                            <div class="datetimepicker-selection-month">
                                {{ formatDate(selectedDate, 'MMMM YYYY') }}
                            </div>
                            <div class="datetimepicker-selection-weekday">
                                {{ formatDate(selectedDate, 'dddd') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="datepicker is-active">
            <div class="datepicker-nav">
                <button type="button" class="datepicker-nav-previous button is-small is-text"
                        (click)="changeActiveMonth(-1)">
                    <i class="fa fa-chevron-left"></i>
                </button>

                <div class="datepicker-nav-month-year">
                    <div class="datepicker-nav-month">
                        {{ formatDate(activeMonth, 'MMMM') }}
                    </div>
                    &nbsp;
                    <div class="datepicker-nav-year">
                        {{ formatDate(activeMonth, 'YYYY') }}
                    </div>
                </div>

                <button type="button" class="datepicker-nav-next button is-small is-text"
                        (click)="changeActiveMonth(1)">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>

            <div class="datepicker-body">
                <div class="datepicker-dates is-active">
                    <div class="datepicker-weekdays">
                        <div *ngFor="let day of getWeekdays()" class="datepicker-date">
                            {{day}}
                        </div>
                    </div>

                    <div class="datepicker-days">
                        <div *ngFor="let day of getDays()" class="datepicker-date"
                             [class.is-current-month]="isCurrentMonth(day.date)"
                             [class.is-disabled]="!day.available"
                             [attr.data-date]="day.date">
                            <button type="button" class="date-item"
                                    [class.is-active]="isSelected(day.date)"
                                    [class.is-today]="isToday(day.date)"
                                    (click)="selectDate(day.date)">
                                {{ formatDate(day.date, 'DD') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="datetimepicker-footer">
            <button type="button" class="datetimepicker-footer-today has-text-warning button is-small is-text"
                    (click)="selectToday()">
                Today
            </button>
            <button type="button" class="datetimepicker-footer-clear has-text-danger button is-small is-text"
                    (click)="clearSelection()">
                Clear
            </button>
            <button type="button" class="datetimepicker-footer-cancel button is-small is-text"
                    (click)="cancelChanges()">
                Cancel
            </button>
        </div>
    </div>
</div>
