<nav class="pagination is-small is-centered is-borderless" role="navigation" aria-label="pagination">
    <a *ngIf="!isFirstPage()" class="pagination-previous" (click)="goToPage(currentPage - 1)"> Previous </a>
    <a *ngIf="isFirstPage()" class="pagination-previous" (click)="goToPage(currentPage - 1)" disabled> Previous </a>

    <a *ngIf="!isLastPage()" class="pagination-next" (click)="goToPage(currentPage + 1)">Next page</a>
    <a *ngIf="isLastPage()" class="pagination-next" (click)="goToPage(currentPage + 1)" disabled="">Next page</a>

    <ul class="pagination-list">
        <li *ngFor="let page of getPages()">
            <a *ngIf="isNumber(page)" (click)="goToPage(page)"
               class="pagination-link"
               [class.is-current]="page === currentPage">
                {{page}}
            </a>

            <span *ngIf="!isNumber(page)" class="pagination-ellipsis" [innerHTML]="page"></span>
        </li>
    </ul>
</nav>
