<div class="columns">
    <div class="column is-one-third">
        <div class="buttons">
            <a routerLink="/create" class="button is-link is-outlined is-fullwidth">Create</a>
        </div>

        <div class="has-margin-bottom">
            <app-pagination [currentPage]="currentPage"
                            [perPage]="perPage"
                            [totalItems]="list.length"
                            (goPage)="goToPage($event)">
            </app-pagination>
        </div>

        <div *ngFor="let item of partialList">
            <app-bills-card [bill]="item" (remove)="updateList()"></app-bills-card>
        </div>

        <div class="has-margin-top">
            <app-pagination [currentPage]="currentPage"
                            [perPage]="perPage"
                            [totalItems]="list.length"
                            (goPage)="goToPage($event)">
            </app-pagination>
        </div>
    </div>
    <div class="column">
        <router-outlet></router-outlet>
    </div>
</div>
